<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

    <div id="app">
        {{ message }}
    </div>

    <script>
    var app = new Vue({
        el: '#app',
        data: {
          message: 'Hello Vue!'
        }
    })
    </script>

    <div id="app2">
        <a v-bind:href="google">{{ googlename }}</a> 
    </div>

    <script>
    var app = new Vue({
        el: '#app2',
        data: {
          googlename: 'google' ,
          google: 'https://www.google.com/'
        }
    })
    </script>

<div id="app3">
    <button v-on:click="count++"> {{ count }} </button>
    
</div>

<script>
var app = new Vue({
    el: '#app3',
    data: {
      count:'0'
    }
})
</script>

<div id="app4">
    <input type="number" v-model="number1" >
    +
    <input type="number" v-model="number2" >
    =
    <span> {{add}} </span>
    
    
</div>

<script>
var app = new Vue({
    el: '#app4',
    data: {
      number1:'0',
      number2:'0',
      result:'0'
    },
    
    computed: {
        add:function(){
            return  parseInt(this.number1) + parseInt(this.number2)
        }
    },
    
})
</script>


<div id="app5">
    <input v-model="person.name" placeholder="Yourname"> <br>
    <input v-model="person.surname" placeholder="Yoursurname"> <br>
    <input v-model="person.age" placeholder="Yourage"> <br>

    <input type="radio" id="male" value="mele" v-model="person.gender">
    <label for="mele">male</label>
    <br>
    <input type="radio" id="female" value="femele" v-model="person.gender">
    <label for="femele">female</label>
    <br>

    <input type="checkbox" id="dog" value="dog" value="dog">
    <label for="dog">dog</label>
    <input type="checkbox" id="cat"value="cat" v-model="person.pets">
    <label for="cat">cat</label>
    <input type="checkbox" id="bird" value="bird" v-model="person.pets">
    <label for="bird">bird</label><br>

    <select v-model="person.roll" >
        <option value="" disabled> Select </option>
        <option value="admin"> Admin</option> v-mo
        <option value="user"> User</option>

    </select>
    <br>
    <span> {{person}}</span>
    
    
    
</div>

<script>
var app = new Vue({
    el: '#app5',
    data: {
      person : {
          name:'',
          surname:'',
          age:'',
          gender:'',
          pets:[],
          roll:'',

      }
    },
    
   
})
</script>

    
    
</body>
</html>